	<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->


<form class="validate edit-from" novalidate="novalidate">

	<div class="row">	
		<div class="col-md-12">
			
			<div class="form-group">
				<label for="field-2" class="control-label">订单编号</label>
                                <input type="text" value="{$info.id}" name="id" hidden/>
                                <input type="text" class="form-control" name="order_sn" placeholder="订单编号" value="{$info.order_sn}" disabled="disabled" >
			</div>	
		
		</div>
	</div>
    
    
    	<div class="row">	
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">订单类型</label>
                                 <select class="form-control" name="order_type">
                                        <option value="1" {eq name="$info.order_type" value="1"}selected="selected" {/eq} >国外订单</option>
                                        <option value="2" {eq name="$info.order_type" value="2"}selected="selected" {/eq} >国内订单</option>
                                 </select>
				
			</div>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">付款方式</label>
                                 <select class="form-control" name="pay_type">
                                        <option value="1" {eq name="$info.pay_type" value="1"}selected="selected" {/eq}  >银行账号</option>
                                        <option value="2" {eq name="$info.pay_type" value="2"}selected="selected" {/eq} >Paypal</option>
                                        <option value="3" {eq name="$info.pay_type" value="3"}selected="selected" {/eq}  >支付宝</option>
                                        <option value="4" {eq name="$info.pay_type" value="4"}selected="selected" {/eq}  >个人账号</option>
                                 </select>
			</div>	
		</div>
	</div>	    
    
    

	<div class="row">	
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">商品编号</label>
                                 <select class="form-control" name="product_no">
                                {volist name='productList' id='vo'}
                                        <option value="{$vo.sn}" {eq name="$vo.sn" value="$info.product_no"}selected="selected" {/eq} >{$vo.sn}--{$vo.name}({$vo.sn|getResidueNum=###})</option>
                                {/volist}
                                 </select>
				
			</div>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">商品数量</label>
				
                                <input type="text" class="form-control" name="goods_number" placeholder="商品数量" value="{$info.goods_number}" >
			</div>	
		</div>
	</div>	
    
        	<div class="row">	
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">单价</label>
                                <input type="text" class="form-control" name="money_price" placeholder="单价" value="{$info.money_price}" >
				
			</div>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">合计金额</label>
				
                                <input type="text" class="form-control" name="money_count" placeholder="合计金额" value="{$info.money_count}" >
			</div>	
		</div>
	</div>	

	<div class="row">	
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">订单来源</label>
				
				<input type="text" class="form-control" name="referer" placeholder="订单来源" value="{$info.referer}" >
			</div>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="field-2" class="control-label">制单人</label>
				
                                <input type="text" class="form-control" name="order_editer" placeholder="制单人" value="{$info.order_editer}" >
			</div>	
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			
			<div class="form-group">
                <label class="control-label">订单状态</label>
                <select class="form-control" name="status">
                    <option value="0" >正常</option>
                    <option value="1" {eq name="$info.status" value="1"}selected="selected" {/eq} >废弃</option>
                </select>  
			</div>	
		
		</div> 
    </div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group no-margin">
				<label for="field-7" class="control-label">备注</label>
				
				<textarea class="form-control autogrow" name="remark" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;">{$info.remark}</textarea>
			</div>	
		</div>
	</div>

</form>